.card
  display: flex
  justify-content: space-between
  align-items: center
  max-width: 588px
  width: 49%
  border: solid #1222581F 1px
  border-radius: 16px
  box-sizing: border-box

.content
  max-width: 279px