//.baseLayout
//  display: flex
//  flex-direction: column
//  justify-content: space-between

.sidebar
  grid-area: sidebar

.sidebar2
  grid-area: sidebar2

.content
  grid-area: content
  background-color: white

.header
  grid-area: header
  background-color: lightgoldenrodyellow

.footer
  grid-area: footer
  background-color: lightpink

.wrapper
  background-color: lightgray
  color: #444

.wrapper
  height: 100vh
  display: grid

.wrapper
  grid-template-columns: 1fr minmax(588px, 1200px) 1fr
  //grid-template-rows: auto 1fr auto
  grid-template-rows: 80px 1fr 64px
  grid-template-areas: "header  header  header" "sidebar content sidebar2" "footer  footer  footer"

