.swiper-container
  width: 500px

.swiper-wrapper
  padding-inline-start: 0

.wrapper
  height: 100vh
  display: grid
  grid-template-columns: 1fr
  grid-template-rows: auto 1fr auto
  grid-template-areas: "header header header" "sidebar content sidebar" "footer footer footer"


.header
  grid-area: header
  background-color: greenyellow
  height: 200px

.content
  grid-area: main
  padding: 15px 5px 10px 5px
  background-color: blueviolet

.footer
  grid-area: footer
  background-color: seagreen
  height: 100px

.sidebar
  grid-area: sidebar

.sidebar2
  grid-area: sidebar2
